autom4te.cache
aclocal.m4
config.h
config.h.in
config.h.in.orig
config.log
config.status
configure
Makefile
Makefile.in
version_date.h
.DS_Store
*.framework
*.xcworkspace
xcuserdata
build
*.o
*.a
*.exe
*.pdb
*.prg
*.tos
*.ldg
*.slb
*.pcf
*.ref
*.hyp
*.stg
tests/*.img
*.lst
*.srec
*.log
*.trs
lt-*.c
stamp-*
.stamp.*
.libs
.deps
.dirstamp
.xlk
src/.gdbinit
mon.out
gmon.out
a.out
core
*.gcda
*.gcno
*.gcov
*.orig
*.bak
bla.*
aaa.cfg
src/rscview
src/rscview.cgi
*.uls
udo_fc.*
udo_fo.*
*.cnt
*.rtf
