fntdump
bug
fnt_st_6x8.c
fnt_st_8x8.c
fnt_st_8x16.c
fnt_l9_6x8.c
fnt_l9_8x8.c
fnt_l9_8x16.c
fnt_l2_6x8.c
fnt_l2_8x8.c
fnt_l2_8x16.c
fnt_gr_6x8.c
fnt_gr_8x8.c
fnt_gr_8x16.c
fnt_ru_6x8.c
fnt_ru_8x8.c
fnt_ru_8x16.c
